extends ./_layout

block content
  .row.loginRow
    .onLoggedOut.hidden
      h3 Log in to save movies
      form
        input(type="email", placeholder="email", required)
        input(type="password", placeholder="password", required)
        input.loginButtons(type="submit", value="Log in")
        input.doRegister.loginButtons(type="button", value="Register")
        input.doResetPassword.loginButtons(type="button", value="Reset Password")
    .onTempPassword.hidden
      h3 Change Password
      form
        input(type="password", placeholder="Current Password")
        input(type="password", placeholder="New Password")
        input.loginButtons(type="submit", value="Submit")
    .onLoggedIn
      h3 Hello
      button.doLogout.loginButtons Log out
  .row
    h1 Movie Watchlist
    .search
      input(type="text", placeholder="Enter movie title")
      button.myButton3 Search
    .searchResults
  .watchlist
