extends ./_layout

block content
  .row
    h1 Movie Watchlist
    .search
      input(type="text", placeholder="     Enter movie title")
      button.myButton3 Search
    .searchResults
  .watchlist
